.container{
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
   background: #0e8369;
   box-shadow: 2px 0px 4px 0px #1fa87b;
   min-width: 80px;
   height: 32px;
   color: white;
   border-radius: 5px;
   cursor: pointer;
   margin: auto;
 }
 .container:hover{
  background: #17a55e;
 }
 .container:disabled {
  background: #ccc;
  box-shadow: 2px 0px 4px 0px #969696;
  cursor: not-allowed;
}